@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 235 24% 11%;
    --foreground: 20 14.3% 4.1%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --card: 235 24% 11%;
    --card-foreground: 0 100% 100%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --ring: 20 14.3% 4.1%;

    --radius: 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'PonziNumber';
  src: url('/fonts/PonziNumber_Regular_G7.ttf');
}

@font-face {
  font-family: 'PonziDS';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/PonziDS_RegularV2.ttf') format('truetype');
}

@font-face {
  font-family: 'PonziDS';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/PonziDS2_SemiBoldV3.ttf') format('truetype');
}

.border-ponzi {
  background-clip: padding-box;
  border: solid transparent 0.4em;
  border-image: url('/assets/ui/frame.png') 10 10 10 10 round round;
  image-rendering: pixelated;
  padding: 0.5em;
}

.bg-ponzi {
  background-image: url('/assets/ui/texture.png');
}

.shadow-ponzi {
  box-shadow: inset 4px 4px 0 0 #0b0c13;
}

.text-ponzi-number {
  font-family: 'PonziNumber', sans-serif;
  line-height: normal;
  -webkit-text-stroke: 0.25em #000;
  paint-order: stroke fill;
}

.text-ponzi {
  font-family: 'PonziDS', sans-serif;
  line-height: normal;
  color: #dfdfe3;
  -webkit-text-stroke: 1px #000;
  paint-order: stroke fill;
}

/* .text-ponzi .font-black {
  -webkit-text-stroke: 0.08em white;
  text-shadow: none;
  letter-spacing: 0.2ch;
}

.text-ponzi .font-bold {
  -webkit-text-stroke: 0.04em white;
  text-shadow: none;
  letter-spacing: 0.15ch;
}

.text-ponzi .font-semibold {
  -webkit-text-stroke: 0.01em white;
  text-shadow: none;
  letter-spacing: 0.15ch;
} */

.button-ponzi-blue {
  background-clip: padding-box;
  border: solid transparent 0.4em;
  border-image: url('/assets/ui/button/blue/default.png') 40;
  image-rendering: pixelated;
  background-color: #136a88;
}
.button-ponzi-blue:hover {
  border-image: url('/assets/ui/button/blue/hover.png') 40;
  background-color: #71d2f8;
}
.button-ponzi-red {
  background-clip: padding-box;
  border: solid transparent 0.4em;
  border-image: url('/assets/ui/button/red/default.png') 40;
  image-rendering: pixelated;
}
.button-ponzi-red:hover {
  border-image: url('/assets/ui/button/red/hover.png') 40;
}

.text-shadow-none {
  text-shadow: none;
}
